.text-align-center{
  text-align: center;
  color: red;
}

.fa-navbar-cart {
    font-size: 24px;
    vertical-align: middle;
}

.container-alert-flash {
    position: absolute;
    top: 10px;
    margin: 0px;
    z-index: 50000;
    width: 100%;
    right: 0%;
}
