body {
  min-height: 1000px;
  background-color: #D8D0BC;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #8A1306;
  margin-top: 1px;
}

.navbar-inverse .navbar-brand {
  color: #BE7F03;
}

.navbar-inverse .navbar-nav>li>a {
  color: #D8D0BC;
}

.navbar-brand>img {
  margin-top: -6px;
  height: 35px;
}

.jumbotron {
  background-color: #8A1306;
  color: #D8D0BC;
  margin-top: -18px
}

