.text-align-center{
  text-align: center;
  color: red;
}

.container-alert-flash {
    position: absolute;
    top: 77px;
    margin: 0px;
    z-index: 50000;
    width: 100%;
    right: -8%;
}


.products_thumb_row {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #303133;;
    border: 1px solid #ddd;
    border-radius: 8px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.related_products_thumb_row{
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #303133;;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.img-responsive {
    margin: auto;
}

.table-cart-checkout {
    color: #F2F2F2;
}

.form-cart {
    color:black;
}

.delete_btn {
    color: #AAA5A0;
}
.cart_empty {
    margin-top: 50px;
}
.cart_empty_con {
    color: #F2F2F2;
    font-size: 25px;
}
.ship-addr {
    width: initial;
    font-size: large;
}
.checkout_new_user {
    top: 130px;
}
.checkout_user {
    top: 130px;
}
.register-form {
    margin-top: -30px;
}
.home_bog {
    margin-top: -20px;
}

.contex {
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');
    color: #F2F2F2;
    text-align: center;

}

.logout_text {
    padding: 150px;
}


