.jumbotron {
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');

    background-color: #303133;
    position: relative;

    border: 1px solid #ddd;
    border-radius: 8px;

    width: 774px;
    text-align: -webkit-center;
    color: #F2F2F2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}


.jumbotron_logout {
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');

    background-color: #303133;
    position: relative;

    border: 1px solid #ddd;
    border-radius: 8px;

    width: 774px;
    text-align: -webkit-center;
    color: #F2F2F2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 138px;;
}


.jumbotron_registration {
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');

    background-color: #303133;
    position: relative;

    border: 1px solid #ddd;
    border-radius: 8px;

    width: 774px;
    text-align: -webkit-center;
    color: #F2F2F2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 29px;
}

.jumbotron_contactus{
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');

    background-color: #303133;
    position: relative;

    border: 1px solid #ddd;
    border-radius: 8px;

    width: 774px;
    text-align: -webkit-center;
    color: #F2F2F2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 114px;
}


.jumbotron_about{
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');

    background-color: #303133;
    position: relative;

    border: 1px solid #ddd;
    border-radius: 8px;

    width: 774px;
    text-align: -webkit-center;
    color: #F2F2F2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 11px;
}

.jumbotron_cart_empty{
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');

    background-color: #303133;
    position: relative;

    border: 1px solid #ddd;
    border-radius: 8px;

    font-size: 40px;

    width: 774px;
    text-align: -webkit-center;
    color: #F2F2F2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 441px;
    padding-top: 90px;
}


.jumbotron_home {
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');

    background-color: #303133;
    position: relative;

    border: 1px solid #ddd;
    border-radius: 8px;

    font-size: 40px;

    width: 774px;
    text-align: -webkit-center;
    color: #F2F2F2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 131px;
    padding-top: 90px;
}

.jumbotron_product_detail {
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');

    background-color: #303133;
    position: relative;

    border: 1px solid #ddd;

    text-align: -webkit-center;
    color: #F2F2F2;

}
.jumbotron_cart {
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');

    background-color: #303133;
    position: relative;

    border: 1px solid #ddd;
    border-radius: 8px;

    font-size: 40px;

    width: 774px;
    text-align: -webkit-center;
    color: #F2F2F2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 72px;
    padding-top: 80px;
}

.jumbotron_check_user {
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');

    background-color: #303133;
    position: relative;

    border: 1px solid #ddd;
    border-radius: 8px;

    text-align: -webkit-center;
    color: #F2F2F2;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 500px;
    padding-top: 70px;
    padding-left: 200px;
    padding-bottom: 450px;
}


