body {
    min-height: 10px;
    background-color: #414245;
}

.navbar-static-top {
    min-height: 80px;

    font-size: 18px;
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');
    background-color: #303133;
    margin-top: 0px;
    border: 1px solid #ddd;
    border-radius: 0px;
}

.navbar-inverse .navbar-brand {
    color: #F2F2F2;
}

.navbar-inverse .navbar-nav>li>a {
    top:13px;
    color: #F2F2F2;
}

.navbar-brand>img {
    height: 50px;
}

.fa-navbar-cart {
    font-size: 30px;
    vertical-align: middle;
}

.nav_label {
    width: 100px;
    height: 100%;
    display: none;
    position: absolute;

	opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.nav-login {
    padding-top: 8px;
}


.main_part {
    font-family: 'gotham_black';
    src: url('{% static 'fonts/gotham_black.ttf' %}');
    src: local('{% static 'fonts/gotham_black.ttf' %}');
    color: #F2F2F2;
    top: 30px;
    text-align: center;
}


