.social-icons {
    margin-top: -30px;
    text-align: center;
}

.fa-facebook-square:before {
    content: "\f082";
    color: white;
}
.fa-instagram:before {
    content: "\f16d";
    color: white;
}
.fa-vimeo-square:before {
    content: "\f194";
    color: white;
}
.fa-tumblr-square:before {
    content: "\f174";
    color: white;
}
.fa-vk:before {
    content: "\f189";
    color: white;
}