{% load staticfiles %}

<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>{% block head_title %}{% endblock %} Boggat </title>

        {% include 'reg/head_css.html' %}

        <style>
                {% block style %}
                {% endblock %}
        </style>

        {% include 'reg/javascripts.html' %}
</head>

<body>
        {% include 'reg/navbar.html' %}

        {% block jumbotron_content %}
        {% endblock %}

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        {% include 'reg/javascripts.html' %}

        <script>
            $(document).ready(function(){
                {% block jquery %}
                {% endblock %}
            });
        </script>
</body>
</html>
