{% load staticfiles %}

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Boggat Shop</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
</head>

<body>
    <div class="b_top_logo">
        <header>
            <a href="/"><img src="{% static 'images/logo.png' %}" alt="Boggat logo"></a>
        </header>
    </div>
    <div class="top-menu">
        <nav>
            {% block menu %}
            {% endblock menu %}
        </nav>
    </div>
    <div class="col-lg-6 pull-right ">
        {% block detail_of_product %}
        {% endblock %}
    </div>
    <div>
        {% block product %}
        {% endblock %}
    </div>
    <footer>
	    <div id="footer">
            <div id="twitter">
	            <h3>TWITTER FEED</h3>
	            <time datetime="2012-10-23"><a href="#">23 oct</a></time>
                <p>In ultricies pellentesque massa a porta. Aliquam ipsum enim,
                   hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui,
                   sit amet scelerisque nunc. Aenean aug </p>
            </div>
		    <div id="sitemap">
                <h3>SITEMAP</h3>
            </div>
	        <div>
		        <a href="/home/">Home</a>
		        <a href="/about/">About</a>
		        <a href="/services/">Services</a>
	        </div>
	        <div>
		        <a href="/partners/">Partners</a>
		        <a href="/customers/">Support</a>
		        <a href="/contact/">Contact</a>
	        </div>
		</div>
		<div id="social">
	        <h3>SOCIAL NETWORKS</h3>
	        <a href="http://twitter.com/" class="social-icon twitter"></a>
	        <a href="http://facebook.com/" class="social-icon facebook"></a>
	        <a href="http://plus.google.com/" class="social-icon google-plus"></a>
	        <a href="http://vimeo.com/" class="social-icon-small vimeo"></a>
	        <a href="http://youtube.com/" class="social-icon-small youtube"></a>
	        <a href="http://flickr.com/" class="social-icon-small flickr"></a>
	        <a href="http://instagram.com/" class="social-icon-small instagram"></a>
	        <a href="/rss/" class="social-icon-small rss"></a>
        </div>
		<div id="footer-logo">
	        <a href="/"><img src="" alt="Whitesquare logo"></a>
	        <p>Copyright © 2012 Whitesquare. A <a href="http://pcklab.com">pcklab</a> creation</p>
        </div>
    </footer>
</body>
</html>