{% extends "base.html" %}
{% block head_title %} About | {% endblock %}
<script>
{% block jquery %}
$("#slideshow > div:gt(0)").hide();

setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
},  3000);
{% endblock %}
</script>



{% block content %}
  <div class="jumbotron jumbotron_about">
    <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
		        <div class="slide">
			            <img src="https://pp.vk.me/c627823/v627823957/23da3/dCiJx1ZLugc.jpg" />
                </div>
		        <div class="nav">
			            <label for="img-6" class="prev">&#x2039;</label>
			            <label for="img-2" class="next">&#x203a;</label>
		        </div>
            </li>

            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                        <img src="https://pp.vk.me/c627823/v627823957/23cb9/jYfDnMgcwV4.jpg" />
                </div>
		        <div class="nav">
			            <label for="img-1" class="prev">&#x2039;</label>
			            <label for="img-3" class="next">&#x203a;</label>
		        </div>
            </li>

            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                        <img src="https://pp.vk.me/c627823/v627823957/23cef/2XgTk3EqxEg.jpg" />
                </div>
                <div class="nav">
                        <label for="img-2" class="prev">&#x2039;</label>
                        <label for="img-4" class="next">&#x203a;</label>
                </div>
            </li>

            <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                        <img src="https://pp.vk.me/c627823/v627823957/23d6d/zQtT0NKj0_E.jpg" />
                </div>
                <div class="nav">
                        <label for="img-3" class="prev">&#x2039;</label>
                        <label for="img-5" class="next">&#x203a;</label>
                </div>
            </li>

            <input type="radio" name="radio-btn" id="img-5" />
            <li class="slide-container">
                <div class="slide">
                        <img src="https://pp.vk.me/c627823/v627823957/23d7f/7uzyqQEfKrk.jpg" />
                </div>
                <div class="nav">
                        <label for="img-4" class="prev">&#x2039;</label>
                        <label for="img-6" class="next">&#x203a;</label>
                </div>
            </li>

            <input type="radio" name="radio-btn" id="img-6" />
            <li class="slide-container">
                <div class="slide">
                        <img src="https://pp.vk.me/c627823/v627823957/23dc7/i7A3e4ZqGmI.jpg" />
                </div>
                <div class="nav">
                        <label for="img-5" class="prev">&#x2039;</label>
                        <label for="img-1" class="next">&#x203a;</label>
                </div>
            </li>

            <li class="nav-dots">
                    <label for="img-1" class="nav-dot" id="img-dot-1"></label>
                    <label for="img-2" class="nav-dot" id="img-dot-2"></label>
                    <label for="img-3" class="nav-dot" id="img-dot-3"></label>
                    <label for="img-4" class="nav-dot" id="img-dot-4"></label>
                    <label for="img-5" class="nav-dot" id="img-dot-5"></label>
                    <label for="img-6" class="nav-dot" id="img-dot-6"></label>
            </li>
    </ul>
    <br/>
    <br/>
    <div class="social-icons" id="font-awesome">
                <a href="https://www.facebook.com/boggatcrew"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                <a href="https://vk.com/boggat"><i class="fa fa-vk fa-3x" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/boggat_crew"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
                <a href="https://vimeo.com/richbitch"><i class="fa fa-vimeo-square fa-3x" aria-hidden="true"></i></a>
                <a href="http://boggat.tumblr.com"><i class="fa fa-tumblr-square fa-3x" aria-hidden="true"></i></a>
    </div>

</div>


{% endblock %}