{% extends "base.html" %}

{% block jumbotron %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-sm-6" style='background-color:red;'>.col-md-8
    <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-2" style='background-color:orange;'>.col-md-4</div>
        <div class="col-md-6 col-sm-4 col-xs-10" style='background-color:yellow;'>.col-md-4</div>
    </div>
    </div>
  <div class="col-md-4 col-sm-6" style='background-color:blue;'>.col-md-4
    <div class="row">
        <div class="col-md-12" style='background-color:purple;'>.col-md-4</div>
    </div>
  </div>
</div>

<!--<div class="row">-->
  <!--<div class="col-md-4">.col-md-4</div>-->
  <!--<div class="col-md-4">.col-md-4</div>-->
  <!--<div class="col-md-4">.col-md-4</div>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col-md-6">.col-md-6</div>-->
  <!--<div class="col-md-6">.col-md-6</div>-->
<!--</div>-->
{% endblock %}