{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %} Contact Us | {% endblock %}

{% block content %}
<div class="jumbotron">
   <div class='row row-contact'>
      <div class='col-sm-6 col-sm-offset-3'>
      <p style="">Add shipping address</p>
      <form method='POST' action=''>{% csrf_token %}
         {{ form|crispy }}
         <input class='btn btn-default' type='submit' value='Submit' />
      </form>
      </div>
   </div>
</div>
{% endblock %}