{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %} Contact Us | {% endblock %}

{% block content %}
<div class = "main_part">
  <div class="jumbotron jumbotron_contactus">
      {% if title %}<h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>{% endif %}
      <form method='POST' action=''>{% csrf_token %}
        {{ form|crispy }}
        <input class='btn btn-default' type='submit' value='Submit' />
      </form>
  </div>
</div>
{% endblock %}