{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %} Welcome | {% endblock %}
{% include 'reg/head_css.html' %}


{% block jumbotron_content %}
<div class = "main_part">
<div class="jumbotron_home">
    <h1 class="home_bog"> BOGGAT </h1>

    <div class="row">
        <div class="col-xs-12 col-sm-14 col-md-12">
                <iframe src="https://player.vimeo.com/video/131411392" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>
</div>
{% endblock %}



