{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>




<script>

function updateCartItemCount() {
    var badge = $("#cart-count-badge");

    $.ajax({
        type: "GET",
        url: "{% url 'item_count' %}",
        success: function(data){
            badge.text(data.count);
        },
        error: function(response, error) {
            console.log(response);
            console.log(error);
        }
    })
}

$(document).ready(function(){
    updateCartItemCount()


})

</script>