{% load staticfiles %}
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'psd/boggat_log.png' %}" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/news">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contacts">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'cart' %}"><i class="fa fa-shopping-cart fa-navbar-cart"></i><span id="cart-count-badge" class="badge">{{ request.session.cart_item_count }}</span></a>
                        </li>
                        {% if request.user.is_authenticated  %}
                            <li><a href="{% url 'orders' %}">Orders</a></li>
                            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'registration_register' %}">Register</a></li>
                        {% endif %}

                        {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                            <form class="navbar-form navbar-right nav-login" method="POST" action="{% url 'auth_login' %}">{% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Username"/>
                                </div>
                                <div class="form-group">
                                   <input type="password" class="form-control" name="password" placeholder="Password"/>
                                </div>
                                <button type="submit" class="btn btn-default">LOGIN</button>
                            </form>
                        {% endif %}
                    </ul>
            </div>
    </div>
</nav>