{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="jumbotron_logout">
    <div class="logout_text">
        <p><h2>You have successfully logged out.</h2></p>
        <p><a href="{% url 'auth_login' %}">Login</a></p>
    </div>
{% endblock %}
