{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class="jumbotron_registration">
    <div class="registration_fields">
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3 register-form'>
                <h2>Register now</h2>
                <form method="post" action=".">{% csrf_token %}
                    {{ form|crispy }}
                    <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />
                </form>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3 text-align-center'>
                <p class="">Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
        </div>
    </div>
    </div>
</div>

{% endblock %}
