{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

<script>
{% block jquery %}

var clientToken = "{{ client_token }}";
braintree.setup(clientToken, "dropin", {
    container: "payment-from",
});

{% endblock %}
</script>



{% block content %}
                                {% if not user_can_continue %}
<div class="jumbotron_check_user">
<div class="col-sm-4">
        <p class="lead">Continue as guest</p>
        <form method="POST" action="" >{% csrf_token %}
                 {{ form|crispy }}
                 <input type="submit" class="btn btn-default" value="Continue as a guest" />
        </form>
</div>

<div class="col-sm-4">
    <p class="lead">Login to continue</p>
    <form method="POST" action="{% url 'auth_login' %}"> {% csrf_token %}
    {{login_form | crispy}}

    <input type="hidden" name="next" value="{{ next_url }}" />
    <input type="submit" class="btn btn-default" value="Login" />
    </form>

    <p class="text-center">
    <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
</div>
</div>
                                        {% else %}
<div class="jumbotron_check_user">
<div class="col-xs-12 col-sm-6 col-md-8">
        {% include "orders/order_summary_short.html" with orders=order %}
</div>
<div class="col-xs-6 col-md-4">
        <form id="checkout" method="POST" action="{% url 'checkout_final' %}">{% csrf_token %}
                <div id="payment-from"></div>
                <p><b><button type="submit">Complete order</button></b>
                </p>
        </form>
</div>
</div>
                                        {% endif %}

{% endblock %}

