{% extends "base.html" %}

<script xmlns="http://www.w3.org/1999/html">
{% block jquery %}

$(".item-qty").change(function(){
    var item = $(this).prev("input[type='hidden']").val();
    var qty = $(this).val();
    var data = {
        item: item,
        qty: qty,
    }
    $.ajax({
        type: "GET",
        data: data,
        url: "{% url 'cart' %}",
        success: function(data){
            $("#jquery-message").text("Added" + data.item_added + "Deleted" + data.deleted)
            if (data.deleted){
                $("#item-"+item).fadeOut();
                $("#subtotal").text(data.sub_total);
                $("#taxtotal").text(data.tax_total);
                $("#carttotal").text(data.cart_total);
            } else {
                $("#item-line-total-"+item).text(data.line_total);
                $("#subtotal").text(data.sub_total);
                $("#taxtotal").text(data.tax_total);
                $("#carttotal").text(data.cart_total);
            }

            var message = ""
            if (data.item_added) {
                message = "new item added"
            } else if (data.deleted) {
                message = "Item removed"
            } else {
                message = "Item updated"
            }
            showFlashMessage(message);
            updateCartItemCount();
        },
        error: function(response, error){
            $("#add-form").submit()
        },
    })
});

{% endblock %}
</script>


{% block content %}


                                   {% if object.cartitem_set.count < 1 %}
<div class="jumbotron_cart_empty">
{% include "carts/empty_cart.html" %}
</div>
                                             {% else %}
<div class="jumbotron_cart">
<div class="row main-content">
<div class="col-sm-8 col-sm-offset-2">
        <h1>Your cart</h1>
        <table class="table table-cart-checkout">
                {% for item in object.cartitem_set.all %}
                        <tr id="item-{{ item.item.id }}">
                        <td>{{ item.item.get_title }}</td>
                        <td>
                            <form action="." method="GET" class="form-cart" >
                                <input type='hidden' name='item' value='{{ item.item.id }}' />
                                <input type='number' class='item-qty' name='qty' value='{{ item.quantity }}' />
                                <input type='submit' class='btn-update btn btn-link' value='Update item' style='display:none;'/>
                            </form>
                        </td>
                        <td id="item-line-total-{{ item.item.id }}">{{ item.line_item_total }}</td>
                        <td class="text-right">
                                <a class="delete_btn" href="{{ item.remove }}">X</a>
                        </td>
                        </tr>
                {% endfor %}
                <tr>
                <td colspan="4" class="text-right">Subtotal: <span id="subtotal">{{ object.sub_total }}</span></td>
                </tr>
                <tr>
                <td colspan="4" class="text-right">Tax total: <span id="taxtotal">{{ object.tax_total }}</span></td>
                </tr>
                <tr>
                <td colspan="4" class="text-right">Total: <span id="carttotal">{{ object.total }}</span></td>
                </tr>
                <tr>
                <td colspan="4" class="text-right"><a class="btn btn-warning" href="{% url 'checkout' %}">Checkout</a></td>
                </tr>
        </table>
</div>
                                             {% endif %}
</div>
</div>
{% endblock %}

