{% extends "base.html" %}


<script type="text/javascript">
{% block jquery %}
function setPrice(){
    var price = $(".variaton-select option:selected").attr("data-price");
    var sale_price = $(".variaton-select option:selected").attr("data-sale-price");
    if (sale_price != "" && sale_price != "None" && sale_price != null) {
        $("#price").html("<h3>" + sale_price + "<small style='color:red; text-decoration:line-through;'>Original price:" + price + "</small></h3>");
    } else {
        $("#price").html(price);
    }
}

setPrice()
$(".variaton-select").change(function(event){
    setPrice()
})
$("#submit-btn").click(function(event){
    event.preventDefault();
    var formData = $("#add-form").serialize();
    console.log(formData);
    $.ajax({
        type: "GET",
        data: formData,
        url: "{% url 'cart' %}",
        success: function(data){
            showFlashMessage(data.flash_message);
            updateCartItemCount();
        },
        error: function(response, error){
            $("#add-form").submit()
        },
    })
})
{% endblock %}
</script>


{% block content %}
<div class="row">
<div class="col-sm-8">
  {% if product.get_image_url%}
        <div><img id="img" class="img-responsive related_products_thumb_row" src="{{ object.get_image_url }}" /></div>
  {% endif %}
  </div>
  <div class="col-sm-4 jumbotron_product_detail">
  <form id="add-form" method="GET" action="{% url 'cart' %}">
    <p id="jquery-message" class="lead"></p>
      {% if object.variation_set.count > 1 %}
            <p class="title"><h3 > {{ object.title }}></h3></p>
            <hr/>
            <h3 id="price"> Price: {{ object.variation_set.first.price }}&#8381;</h3>
            <hr/>
            <h4>{{ object.description }}</h4>
            <hr/>
            <select name="item" class="form-control variaton-select">
                {% for varr_obj in object.variation_set.all %}
                    <option data-sale-price="{{ varr_obj.sale_price }}" data-price="{{ varr_obj.price }}" value="{{ varr_obj.id }}">{{ varr_obj }}</option>
                {% endfor %}
            </select>
      {% else %}
            <h3>{{ object.title }}</h3>
            <h4>{{ object.description }}</h4>
            <input type="hidden" name="item" value="{{ object.variation_set.first.id }}" />
            <h3 id="price">
            {% if object.variation_set.first.sale_price %}
                {{ object.variation_set.first.sale_price }}
                    <small class="og-price">{{ object.variation_set.first.price }}&#8381;</small>
                {% else %}
                    {{ object.variation_set.first.price }}&#8381;
                {% endif %}</h3>
      {% endif %}
      </br>
      <input class="form-control" type="number" name="qty" value="1">
      <br/>
      <input id="submit-btn" type='submit' value="Add to Cart" class='btn btn-default' />
  </form>
  <br/>
  <hr/>
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://vk.com/fuserxt_vsop"><i class="fa fa-facebook-square fa-3x"></i></a>
  <hr/>
  <h3>Related Products</h3>
  <div class="row">
      {% for product in related %}
            <div class="col-sm-6 col-xs-6">
            <div class="related_products_thumb_row text-center">
            {% if product.get_image_url %}
                <a href="{{ product.get_absolute_url }}"><img class="img-responsive" src="{{ product.get_image_url }}" /></a>
            {% endif %}
            </div>
            </div>
      {% cycle '' '</div><div class="row">' %}
      {% endfor %}
  </div>
  <br/>
  <hr/>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="H9VBJL9R6NF5L">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
  </div>
</div>

{% endblock %}