{% extends "base.html" %}
{% block head_title %} Products | {% endblock %}
{% block content %}
<div class="row">
    {% for product in object_list %}
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="products_thumb_row text-center">
                <h4><a href="{{ product.get_absolute_url }}"></a></h4>
                {% if product.get_image_url %}
                    <a href="{{ product.get_absolute_url }}"><img id="img" class="img-responsive" src="{{ product.get_image_url }}" width="400" height="100"/></a>
                    <br/>
                {% endif %}
            </div>
        </div>

        {% cycle '' '' '' '</div><div class="row">' %}
   {% endfor %}
</div>

{% endblock %}