{% extends "base.html" %}

{% block content %}

<div class="row">
    {% for object in object_list %}
        <div class="col-xs-6">
            <div class="thumbnail text-center">
                <h4><a href="{{ product.get_absolute_url }}">{{ product.title }} </a></h4>
                {% if product.get_image_url %}
                    <a href="{{ product.get_absolute_url }}"><img id="img" class="img-responsive" src="{{ product.get_image_url }}"/></a>
                    <br/>
                {% endif %}
            </div>
        </div>
        {% cycle '' '</div><div class="row">' %}
   {% endfor %}
</div>

{% endblock %}