{% extends 'base1.html' %}

{% block menu %}
<ul class="top-menu">
  <li><a href="/">HOME</a></li>
  <li><a href="/tshirts">T-SHIRTS</a></li>
  <li><a href="/accessories">ACCESSORIES</a></li>
  <li class="active">ABOUT US</li>
  <li><a href="/contact/">CONTACT</a></li>
</ul>
{% endblock %}

{% block detail_of_product %}
  <h1> Welcome </h1>
  <p>Cross Topski Iskra Fuse</p>
{% endblock %}