{% extends 'base1.html' %}

{% block menu %}
<ul class="top-menu">
  <li><a href="/">HOME</a></li>
  <li><a href="/tshirts/">T-SHIRTS</a></li>
  <li class="active"> ACCESSORIES </li>
  <li><a href="/aboutus/">ABOUT US</a></li>
  <li><a href="/contact/">CONTACT</a></li>
</ul>
{% endblock %}

{% block detail_of_product %}
<div class="object_d">
  <h1>{{ object_d.name }}</h1>
  <p>Price: {{ object_d.price_in_rubs }}&#8381;</p>
  <a href="https://www.paypal.com/bm/cgi-bin/webscr?cmd=_singleitem-intro-outside">
  <img src='http://feasreport.com.au/wp-content/uploads/2015/05/paypal_button-e1431313989779.png' width='70' height='25' alt='Buy' /></a>
  <p><a href="{% url 'accessories' %}">Back to product list</a></p>
</div>
{% endblock %}
