{% extends 'base1.html' %}

{% block menu %}
<ul class="top-menu">
  <li><a href="/">HOME</a></li>
  <li><a href="/tshirts/">T-SHIRTS</a></li>
  <li class="active"> ACCESSORIES </li>
  <li><a href="/aboutus/">ABOUT US</a></li>
  <li><a href="/contact/">CONTACT</a></li>
</ul>
{% endblock %}

{% block product %}
      <div class="row">
      <div class="col-sm-3">
      {% for object in object_l %}
        <p class="fig"><img src="{{ object.photo.url }}" width="300" height="150" alt="image"></p>
        <h1><a href="{% url 'accessories_detail' pk=object.pk %}">{{ object.name }}</a></h1>
        <p>{{ object.description|linebreaks }}</p>
      {% endfor %}
      </div>
      <div class="col-sm-3">
          <p class="lead">kek1</p>
      </div>
      <div class="col-sm-3">
          <p class="lead">kek1</p>
      </div>
      </div>
{% endblock %}