{% extends 'base1.html' %}

{% block menu %}
        <ul class="top-menu">
            <li><a href="/">HOME</a></li>
			<li><a href="/tshirts/">T-SHIRTS</a></li>
            <li><a href="/accessories">ACCESSORIES</a></li>
            <li><a href="/aboutus/">ABOUT US</a></li>
			<li class="active">CONTACT</li>
		</ul>
{% endblock %}

{% block detail_of_product %}
        <h1> phones </h1>
{% endblock %}