{% extends 'base1.html' %}


{% block menu %}
        <ul class="top-menu">
            <li class="active"> HOME </li>
			<li><a href="/tshirts/">T-SHIRTS</a></li>
            <li><a href="/accessories">ACCESSORIES</a></li>
            <li><a href="/aboutus/">ABOUT US</a></li>
			<li><a href="/contact/">CONTACT</a></li>
		</ul>
{% endblock %}



{% block detail_of_product %}
<div class="row">
<div class="col-lg-6">
  <p class="lead">Welcome</p>
  <p>У нас тут прилетели базовые футболочки "Pod Supreme" aka RED KILLER.
Классическая футболка 10х. Только ленивый не сделал такую. Принт выполнен
шелкографией на трикотаже "Fruit of the Loom" в два цвета на черном и сером,
в один цвет на белом. Бирочка жаккардом, все как положено.
Ближайшиую неделю их цена - 1000 рублей + доставка
  </p>
</div>
<div class="col-lg-6">
  <p class="lead">Welcome</p>
  <p>Пам_пам_Пам</p>
</div>
</div>
{% endblock %}