{% extends 'base1.html' %}
{% load crispy_forms_tags %}

{% block menu %}
<ul class="top-menu">
  <li><a href="/">HOME</a></li>
  <li class="active">T-SHIRTS</li>
  <li><a href="/accessories">ACCESSORIES</a></li>
  <li><a href="/aboutus/">ABOUT US</a></li>
  <li><a href="/contact/">CONTACT</a></li>
</ul>
{% endblock %}

{% block product %}
        {% for object in object_l %}
            <div class="row">
            <div class="col-lg-6">
              <a href="{% url 'accessories_detail' pk=object.pk %}" ><p class="lead">{{ object.name }}</p></a>
              <img src="{{ object.photo.url }}" width="300" height="150" alt="image">
              {{object.description|crispy}}
            </div>
            </div>
        {% endfor %}
{% endblock product %}