{% extends 'base1.html' %}

{% block menu %}
        <ul class="top-menu">
            <li><a href="/">HOME</a></li>
			<li class="active">T-SHIRTS</li>
            <li><a href="/accessories">ACCESSORIES</a></li>
            <li><a href="/aboutus/">ABOUT US</a></li>
			<li><a href="/contact/">CONTACT</a></li>
		</ul>
{% endblock %}

{% block detail_of_product %}
        <div class="object_d">
            {% if object_d.pub_date %}
                <div class="date">
                    {{ object_d.pub_date }}
                </div>
            {% endif %}
            <h1>{{ object_d.name }}</h1>
            <p>Price: {{ object_d.price_in_rubs }}&#8381;</p>
        <p><a href="{% url 'tshirts' %}">Back to product list</a></p>
        </div>
{% endblock %}