{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="jumbotron">
<div class="col-sm-4 col-sm-offset-4 text-center">
        <p class="lead"> Select your address for this order.</p>
        <form method="POST" action="">{% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-default" type="submit" value="Select"/>
                <a class="btn btn-link" href="{% url 'user_create_address' %}">Add new address </a>
        </form>
</div>
</div>
{% endblock %}