{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
<div class="col-sm-6 col-sm-offset-3">
<h1>Your orders</h1>
{% if not object_list|length <= 0 %}
        <div style="text-center">
                <p class="lead"> You do not currently orders. </p>
        </div>
{% else %}
        <table class="table">
        {% for object in object_list %}
        <tr>
        <td>
            <a href="{{ object.get_absolute_url }}">View:#{% if object.order_id %}
                                                                {{ object.order_id }}
                                                          {% else %}
                                                                {{ object.id }}
                                                          {% endif %}
            </a>
        </td>
            <td>Items count:{{ object.cart.items.count }}</td>
        </tr>
        {% endfor %}
        </table>
{% endif %}
</div>
</div>
{% endblock %}