
<p class="lead">Order Summary</p>
<table class="table table-cart-checkout">
    <tr><td>{{ orders.cart.cartitem_set.count }} item(s):<br/>
                        {% for items in  orders.cart.cartitem_set.all %}
                                <b>{{items.item.get_title}}</b><br/>
                        {% endfor %}
    </td></tr>
    <tr><td>Cart subtotal: {{ orders.cart.sub_total }}</td></tr>
    <tr><td>Tax: {{ orders.cart.tax_total }}</td></tr>
    <tr><td>Items total: {{ orders.cart.total }}</td></tr>
    <tr><td>Shipping: {{ orders.shipping_total_price }}</td></tr>
    <tr><td>Order Total: {{ order.order_total }}<td></tr>
    <tr><td>Shipping to: {{ orders.shipping_address.get_address }} </td></tr>
    <a href="{% url 'order_address' %}">Change address</a>

</table>
